@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 316px 1fr;
  grid-template-rows: 40px 45px 1fr 583px;
  height: 100vh;
}


@media (max-width: 767px) {

  .App {
    grid-template-rows: 40px 45px 1fr 720px;
  }

}
